@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(15 23 42 / var(--tw-bg-opacity, 1));
    border-radius: 0.75rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #cccccc;
    border-radius: 0.75rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}